.hero-banner {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  background-image: url(banner.webp);
}

@media (min-width: 768px) {
  .hero-banner {
    min-height: 460px;
    padding-top: 24px; /* Example for larger screens */
  }
}

@media (min-width: 1024px) {
  .hero-banner {
    min-height: 500px;
  }
}

@media (min-width: 1280px) {
  .hero-banner {
    min-height: 650px;
  }
}

.hero-content {
  max-width: 850px;
  margin: auto;
  text-align: center;
  padding: 0 24px; /* Horizontal padding */
}

.hero-title {
  font-size: 1.875rem; /* 3xl */
  font-weight: 800; /* Extrabold */
  line-height: 1.2; /* Adjust line height as needed */
  color: #5c7a3a; /* Change to your desired color */
  margin: -8px 0 12px; /* Adjust as necessary */
}

.hero-description {
  font-size: 1rem; /* Base */
  line-height: 1.75; /* Adjust line height */
  color: rgba(0, 0, 0, 0.8); /* Dark color with opacity */
  margin: 0 0 24px; /* Adjust margin */
}

.search-container {
  display: none; /* Hide by default */
}

@media (min-width: 1024px) {
  .search-container {
    display: block; /* Show on larger screens */
    max-width: 700px;
    margin: 0 auto; /* Center alignment */
    padding-top: 16px; /* Add top padding */
  }
}

.search-form {
  position: relative;
  display: flex;
  width: 100%;
}

.search-label {
  flex: 1;
}

.search-input {
  width: 100%;
  height: 56px; /* Adjust height */
  padding-left: 16px; /* Left padding */
  padding-right: 48px; /* Right padding for button */
  font-size: 16px; /* Adjust font size */
  border-radius: 8px; /* Adjust border radius */
  border: 1px solid #ccc; /* Light border color */
  transition: all 0.2s ease-in-out; /* Transition for smooth effect */
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px; /* Adjust width */
  height: 100%;
  background: none; /* Remove default background */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor */
}

.search-icon {
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
  color: rgba(0, 0, 0, 0.4); /* Change to your desired color */
}
