.category-card {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 178px; /* Adjust as necessary */
  margin: 0;
  text-decoration: none;
}

.image-container {
  display: flex;
  max-width: 178px;
  max-height: 178px;
  aspect-ratio: 1;
  margin-bottom: 14px; /* Adjust for spacing */
  border-radius: 50%; /* Circular container */
  overflow: hidden;
  background-color: #f0f0f0; /* Background color, adjust as needed */
  position: relative;
}

.image-wrapper {
  display: flex;
  flex-shrink: 0;
  transition: all 0.7s ease;
  width: 100%;
  height: 100%;
  position: absolute; /* Positioning for overlapping images */
  top: 0;
  left: 0;
}

.scale-down {
  transform: scale(0.5);
}

.scale-up {
  transform: scale(1);
}

.image-wrapper:hover.scale-down {
  transform: scale(1);
}

.image-wrapper:hover.scale-up {
  transform: scale(0.5);
}

.category-image {
  object-fit: cover; /* Cover the entire container */
  border-radius: 50%; /* Circular image */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.category-title {
  font-size: 14px; /* Adjust font size as necessary */
  text-transform: capitalize;
  color: #333; /* Change to your desired color */
  margin: 0; /* Remove default margins */
  line-height: 1.2; /* Adjust line height */
}
